asn1crypto==0.24.0
azure-common==1.1.8
azure-nspkg==2.0.0
azure-storage-blob==1.1.0
azure-storage-common==1.1.0
azure-storage-nspkg==3.0.0
boto3==1.4.4
botocore==1.5.73
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
click==6.7
cryptography==2.1.4
cycler==0.10.0
dictionary==1.0
docutils==0.13.1
Flask==0.12.1
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
jmespath==0.9.3
MarkupSafe==1.0
matplotlib==2.0.0
multidict==4.1.0
mysql-connector-python==8.0.6
mysql-connector-python-rf==2.2.2
Nested==1.0.1
nested-dict==1.61
nltk==3.2.2
numpy==1.13.0+mkl
pandas==0.19.2
pycparser==2.18
PyMySQL==0.8.0
pyodbc==4.0.22
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
PyYAML==3.12
requests==2.18.4
s3transfer==0.1.10
scikit-learn==0.18.2
scipy==0.19.1
six==1.10.0
sklearn==0.0
urllib3==1.22
vcrpy==1.11.1
Werkzeug==0.12.2
wrapt==1.10.11
yarl==1.1.0
