asn1crypto==0.24.0
azure-common==1.1.8
azure-nspkg==2.0.0
azure-storage-blob==1.1.0
azure-storage-common==1.1.0
azure-storage-nspkg==3.0.0
Flask==0.12.1
mysql-connector-python==8.0.6
PyMySQL==0.7.11
python-dateutil==2.6.1
requests==2.18.4
urllib3==1.22
Werkzeug==0.15.3
